@model EmployeeViewModel
@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Employee</h1>

<form asp-controller="Employees" asp-action="Edit" method="post">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="mb-2">
                <label asp-for="EmployeeName" class="form-label"></label>
                <input type="text" asp-for="EmployeeName" class="form-control" />
                <span asp-validation-for="EmployeeName"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Designation" class="form-label"></label>
                <input type="text" asp-for="Designation" class="form-control" />
                <span asp-validation-for="Designation"></span>
            </div>
            <div class="mb-2">
                <label asp-for="PhoneNo" class="form-label"></label>
                <input type="text" asp-for="PhoneNo" class="form-control" />
                <span asp-validation-for="PhoneNo"></span>
            </div>
            <div class="mb-2">
                <label asp-for="EmailId" class="form-label"></label>
                <input type="text" asp-for="EmailId" class="form-control" />
                <span asp-validation-for="EmailId"></span>
            </div>
            <div class="mb-2">
                <label asp-for="Address" class="form-label"></label>
                <input type="text" asp-for="Address" class="form-control" />
                <span asp-validation-for="Address"></span>
            </div>
            <div class="mb-2">
                <label asp-for="DrivingLicenseNo" class="form-label"></label>
                <input type="text" asp-for="DrivingLicenseNo" class="form-control" />
                <span asp-validation-for="DrivingLicenseNo"></span>
            </div>
            <div class="mt-2" d-grid>
                <input type="submit" class="btn btn-primary" value="Update Employee" />
                
            </div>
            <a asp-controller="Employees" asp-action="Index" Back to List></a>
        </div>
    </div>
</form>


